@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
}
#social_media {
    position: absolute;
    right: 0;
    padding-top: 12px;
    padding-right: 12px;
    font-size: 1.5em;
    z-index: 9999;
}
#social_media li {
    list-style-type: none;
    display: inline;
    padding-left: 10px;
}
.navbar{

	border: none;
	background-color: #20203d;
	color: #fff;
	border-radius: 0;
	padding: 1%;
}
.navbar a{

	color: #fff;
}

.mainContainer{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #20203d;

	vertical-align: baseline;
}
.container p{
	color: #fff;
	text-align: center;
}
.containerProjects{

	width: 100%;
	margin: 10px;
}
.containerProjects p{
	color: #000;
}
.col{
	
	background: url('../images/wall.jpeg'); 
	background-size: cover;
}
.items_text {
	color: white;
	text-align: center;
	position: absolute;
	padding: 5px;
	padding-top: 10%;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0;
	background-color: rgba(0, 204, 153, 0.9);
	transition: all .3s;
}