@import url('https://fonts.googleapis.com/css?family=Quicksand');
*{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    color: #fff;
}
body{

    position: relative;
    min-height: 100%;
      margin:0;
   padding:0;
   background-color: #fff;
}
.navbar {
    background-color: #20203d!important;
    padding: 2%;

}
.navbar a{
 
    color: #fff!important;
}
.container{

    color: #333;
    text-align: center;
}
.navbar-nav a{

    color: #fff!important;
}
.container-profile{
    background-color: #20203d!important;
    min-height: 400px;
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;

}
.container-profile{
   color: #fff;
   text-align: center;
}
.row{

    background-color: #f2f2f2;
    width: 100%;
    margin: 5px;
    padding: 5px;
}
.col-md-4{

    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 3px;

}
.col-md-4:hover {
    
    cursor: pointer;

}

.col-md-4 img {
    
    width: 100%;

}

.col-md-4:hover .text {
    
    opacity: 1;

}
.text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    vertical-align: middle;
    background-color: #008CBA;
    transition: all .3s;
}
.text p,h2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
footer{

    background-color: #20203d;
    color: #fff;
    height: 200px;
    margin-top: 10px;
    text-align: center;

}
.trans--grow{
  -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
  transition: width 1s  ease-out;
  width : 0%;
}
.grow{
  width:40%;
}
.hr1{
  margin-left:0;
}
.hr2{
  margin-right:0;
}
hr{
  margin-top: 20px;
  padding: 2px 0;
  border: none;
  background-color:  #008CBA;
  letter-spacing: 5px;
}
svg{

    padding: 1px;
    width: 10%;
}